.footer {
	margin: 1rem 0;
	padding: 2em 0;
	font-size: 0.8rem;
	color: $color-1;
	text-align: center;
	a {
		color: $color-2;
		text-decoration: none;
		@include hover-active-focus () {
			color: $color-4;
			text-decoration: underline;
		}
	}
	.copyright-info a {
		@include font ($font-2, normal, $normal);
		font-size: 1rem;
		color: $color-3;
		@include hover-active-focus {
			color: $color-5;
		}
	}
}