@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.grid-floats {
	position: relative;
	$color: $color-20;
	&__list-12 {
		z-index: 0;
	}
	h3 {
		@include font ($font-5, normal, $normal);
	}
	&__labels > * {
		font-size: 1.2rem;
	}
	.grid-floats__list-12 {
		z-index: 0;
		margin: 0;
		padding:0;
	}
	
}