@use '../abstracts/variables' as * ;
@use '../abstracts/mixins' as * ;

.travel-cards {
	@include font($font-3, normal, $normal);
	padding:2rem 0 3rem;
	&__header>h2 {
		text-align: center;
		@include font($font-3, normal, $normal);
		margin-top:0;
		font-size: 2rem;
	}
}