.theme-note {
	background-color: $color-8;
	.entry__content p {
		background-image: linear-gradient(to bottom, $color-8 97%, color.change($color-1, $alpha: 0.1) 4%);
		background-size: 1.6rem 1.6rem;
	}
}
@include media-query-up ('medium') {
	.theme-note {
		.entry__content p {
			background-size: 1.8rem 1.8rem;
		}
	}
}
@include media-query-up ('large') {
	.theme-note {
		.entry__content p {
			background-size: 1.9rem 1.9rem;
		}
	}
}

.page-main--no-bg {
	background-color: transparent;
}
