.page--theme-reset {
	.has-border-bottom::after{
		display: none;
	}
	.entry {
		&__header {
			.entry-title {
				color: $color-2;
				text-align: center;
				font-size: 2.4rem;
			}
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			p {
				font-size: 1rem;
				background-image: none;
			}
		}
		
	}
	.comments {
		padding: 0 2em 2em;
		background-color: $color-8;
	}
	
}
.page-main--full-width.page--theme-reset {
	.entry__footer, .comments {
		max-width: 50rem;
		margin-left: auto;
		margin-right: auto;
	}
}